html {
    height: 100%;
    font-size: 2vw;
    font-family: "Poppins Extra Light", Sans-Serif;
}

@media (max-width: 1080px) {
    html {
        font-family: Arial, Sans-Serif;
        font-size: 6vw;
    }
}

body {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: 0;
    color: #FFFFFF;
    background-color: rgb(44, 43, 41);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins Semi Bold", Sans-Serif;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.2rem;
}

.header .logo img {
    border-radius: 10px;
}

@media (max-width: 1080px) {
    .header .logo img {
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

@media (max-width: 1080px) {
    .header {
        flex-direction: column;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

@media (max-width: 1080px) {
    .navbar {
        display: none;
    }
}

.nav-item {
    margin-left: 20px;
    font-size: 1.4vw;
    text-decoration: none;
    padding: 15px;
    border-radius: 7.5px;
    color: white;
}

.nav-item:hover {
    background-color: rgb(61, 61, 61);
}

.mobile-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 2vw;
    align-items: center;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

.mobile-menu {
    display: none;
}

.menu-items {
    list-style-type: none;
    justify-content: space-between
    display: none;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
}

.menu-items li a:hover {
    background-color: rgb(61, 61, 61);
}

@media (max-width: 1080px) {
    .mobile-menu {
        display: block;
    }

    .menu-items {
        display: none;
    }
}

.header-image {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-trio {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
}

@media (max-width: 1080px) {
    .main-trio {
        display: flex;
        flex-direction: column;
    }
}

.main-about {
    padding: 2rem;
    vertical-align: top;
    text-align: center;
    line-height: 1.5;
}

.contact-forms {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    padding: 0 5rem;
}

.contact {
    text-align: center;
}

.map {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.mainMap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1080px) {
    .contact-us {
        display: flex;
        flex-direction: column;
    }

    .contact-forms {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .contact-forms-item {
        width: 100%;
    }

    .fields, textarea {
        width: 100%;
    }

    .map {
        padding-top: 75%;
    }
}

.fill-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 50%;
    max-width: 500px;
    border-radius: 7.5px;
}

.responseEmail {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-color: red;
}

hr {
    border: 1px solid black;
}

.fields, form textarea {
    background-color: rgb(44, 43, 41);
    color:#FFFFFF;
    outline: none;
    font-weight: "bold";
    border-bottom: 2px solid white;
    border-style: solid;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}

.fields:focus {
    border-bottom: 2px solid rgb(150,10,10);
}

form textarea:focus {
    border-bottom: 2px solid rgb(150,10,10);
}

input::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

textarea::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.sendButton {
    padding: 15px;
    background-color:rgb(44, 43, 41);
    color: #FFFFFF;
    font-size: 18px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 20px;
}

.copyright {
    text-align: center;
    background-color:rgb(61, 61, 61);
    padding-top: 1 rem
    position: fixed;
    width: 100%;
}

.calendar {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.documents {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin: 0 auto;
    padding: 2rem;
    /* grid-template-columns: repeat(3, minmax(240px, 1fr)); */
}

.container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.doc-item {
    flex-grow: 1;
    padding: 0.8rem;
}

.calendar {
    width: 95%;
    background-color: white;
}

.calendar iframe {
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.documents {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    height: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1080px) {
    .doc-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.pdfs {
    background-color: red;
    display: inline-block;
    text-align: center;
    font-size: 3vw;
    color: #FFFFFF;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
}

.caption {
    color: black;
}

.caption h2 {
    padding-top: 0.8rem;
    text-align: left;
}

.links {
    width: 65%;
    margin: 0 auto;
    padding: 1% 17.5%;
    background-color: white;
    color: black;
}

.refs:hover {
    color: blue;
}

.refs:visited {
    color: purple;
}

.refs:active {
    color: red;
}

.linksHeader {
    text-align: left;
}

.links-item {
    margin-left: 10%;
    padding: 0.5rem;
}

.links a {
    color: rgb(55,55,55);
}

/* .main-trio-item { */
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    /* grid-template-rows: repeat(1, 300px); */
/* } */