{% extends "layout.html" %}

{% block head %}
<title xmlns="http://www.w3.org/1999/html">Another Home | Glen Rock Troop 15</title>
    <link rel="icon" type="image/png" href="static/troopLogo.png"/>
    <link rel="stylesheet" href="static/styles.css">
	<script src="static/hamburger.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <div class="container">
		<div class="container-item header">
			<div class="logo"><a href="/"><img src="static/troopLogo.png"></a></div>
			<ul class="navbar">
				<li><img class="bsa-logo" src="static/bsa-white.png"></li>
				<li><a class="nav-item" href="/">Home</a></li>
				<li><a class="nav-item" href="/">About Troop 15</a>
  					<ul class="dropdown-content about">
						<li><a href="/">Troop History</a></li>
    					<li><a href="/">Eagle Honor Roll</a></li>
    					<li><a href="/">Eagle Projects</a></li>
						<li><a href="/">Adult Leaders</a></li>
    					<li><a href="/">Troop Roster</a></li>
  					</ul>
				</li>
				<li><a class="nav-item" href="/">Recruitment</a>
  					<ul class="dropdown-content recruit">
    					<li><a href="/">Prospective Families</a></li>
    					<li><a href="/">Troop Committee</a></li>
    					<li><a href="/">Volunteer with Troop 15!</a></li>
  					</ul>
				</li>
				<li><a class="nav-item" href="/">Upcoming Events</a>
  					<ul class="dropdown-content events">
    					<li><a href="/calendar">Troop Calendar</a></li>
						<li><a href="/">Fundraising</a></li>
    					<li><a href="/">Summer Camps</a></li>
						<li><a href="/">Event Registration</a></li>
  					</ul>
				</li>
				<li><a class="nav-item troop-guide" href="/">NEW: Your Troop Guide!!!</a>
  					<ul class="dropdown-content guide">
    					<li><a href="/">Uniform</a></li>
    					<li><a href="/">Equipment</a></li>
    					<li><a href="/">Expectations</a></li>
						<li><a href="/">Scout Sayings</a></li>
						<li><a href="/">Rank Advancement</a></li>
						<li><a href="/">Merit Badges</a></li>
						<li><a href="/links">Useful Links</a></li>
						<li><a href="/documents">Important Documents</a></li>
  					</ul>
				</li>
    		</ul>
			<nav class="mobile-menu">
				<div class="hamburger-icon">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul class="menu-items">
					<li><a class="nav-item" href="/">Home</a></li>
					<li><a class="nav-item" href="/">About Troop 15</a>
  						<ul class="dropdown-content about">
							<li><a href="/">Troop History</a></li>
    						<li><a href="/">Eagle Honor Roll</a></li>
    						<li><a href="/">Eagle Projects</a></li>
							<li><a href="/">Adult Leaders</a></li>
    						<li><a href="/">Troop Youth Roster</a></li>
  						</ul>
					</li>
					<li><a class="nav-item" href="/">Recruitment</a>
  						<ul class="dropdown-content recruit">
    						<li><a href="/">Prospective Families</a></li>
    						<li><a href="/">Troop Committee</a></li>
    						<li><a href="/">Volunteer with Troop 15!</a></li>
  						</ul>
					</li>
					<li><a class="nav-item" href="/">Upcoming Events</a>
  						<ul class="dropdown-content events">
    						<li><a href="/calendar">Troop Calendar</a></li>
							<li><a href="/">Fundraising</a></li>
    						<li><a href="/">Summer Camps</a></li>
							<li><a href="/">Event Registration</a></li>
  						</ul>
					</li>
					<li><a class="nav-item" href="/">Your Troop Guide!</a>
  						<ul class="dropdown-content guide">
    						<li><a href="/">Uniform</a></li>
    						<li><a href="/">Equipment</a></li>
    						<li><a href="/">Expectations</a></li>
							<li><a href="/">Scout Sayings</a></li>
							<li><a href="/">Rank Advancement</a></li>
							<li><a href="/">Merit Badges</a></li>
							<li><a href="/links">Useful Links</a></li>
							<li><a href="/documents">Important Documents</a></li>
  						</ul>
					</li>
				</ul>
			</nav>
        </div>
		<div class="container-item header-image">
	    	<img src="static/homeImage1.png">
		</div>
		<div class="container-item main">
			<p>
	    	<h1> Welcome to BSA Troop 15</h1>
			<h1>Glen Rock, NJ</h1>
            <center><i> Placing Youth on the Path to Success </i></center>
			<p><p><p>
	    	<p>
		    		Troop 15 is a Scout-led Troop, meaning that the Scouts are responsible for developing the calendar, organizing meetings and training and developing other scouts. This important principle provides the ability for Scouts to learn and lead in a safe environment. This can not be accomplished without parent support and involvement. Unlike Cub Scouts, parents are asked to become much less involved with their own child and more within the structure of the troop as a committee member or assistant Scoutmaster. The success of the troop depends on a lot of adult volunteers who work behind the scenes to make it all happen.
			</p>
			<br><div class="fb-line"></div><br>
            <div class="main-item contact-forms">
	        	<div class="contact-forms-item contact-us">
					<div class="contact-us-item contact">
						<h2>Contact Us</h2> <br>
						Community Church <br>
						354 Rock Rd. <br>
						Glen Rock, NJ, 07452 <br><br><br>
						scoutmaster@grtroop15.org <br><br>
					</div>
		    		<div class="contact-us-item map">
						<iframe class="mainMap" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.12583947181703%2C40.96073765097913%2C-74.12363469600679%2C40.961997496349255&amp;layer=mapnik&amp;marker=40.96136757667022%2C-74.1247370839119" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=40.96137&amp;mlon=-74.12474#map=19/40.96137/-74.12474&amp;layers=N">View Larger Map</a></small>
					</div>
				</div>
				<div class="contact-forms-item fill-form">
					<form action="/email_sent" method="post">
                        <input class="fields" autocomplete="off" name="name" placeholder="Name *" type="text" required />
                        <input class="fields" autocomplete="off" name="email" placeholder="Email *" type="text" required />
                        <input class="fields" autocomplete="off" name="phone" placeholder="Phone" type="text" />
                        <input class="fields" autocomplete="off" name="address" placeholder="Address" type="text" />
                        <input class="fields" autocomplete="off" name="subject" placeholder="Subject" type="text" />
                        <textarea autocomplete="off" rows="5" name="message" placeholder="Message..."></textarea>
                        <input class="sendButton" type="submit" value="Send" />
                    </form>
					<div class="responseEmail" id="sent"><p> {{ message }} </p></div>
                </div>
				<div class="contact-forms-item facebook">
					<h3>Visit Our Facebook Page!</h3>
					<div class="fb-line"></div>
					<img src="static/fb-logo.png"> <br>
					<div class="fb-link"><a href="https://www.facebook.com/groups/529636537469815">https://www.facebook.com/groups/529636537469815</a></div>
					<br>
					<h3>Follow Us On:</h3>
					<div class="fb-line"></div>
					<div class="follows">
						<a href="https://twitter.com/home" target="_blank" rel="noopener noreferrer"><img class="follows-item" src="static/twitter.png"></a>
						<a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img class="follows-item" src="static/instagram.png"></a>
					</div>
				</div>
            </div>
	    	<div class="main-item copyright">
				&copy; 2023 by Glen Rock Troop 15
	    	</div>
		</div>
    </div>
{% endblock %}
