{% extends "layout.html" %}

{% block head %}
    <title>Another Home | Glen Rock Troop 15</title>
    <link rel="icon" type="image/png" href="static/troopLogo.png"/>
    <link rel="stylesheet" href="static/styles.css">
	<script src="static/hamburger.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <div class="container">
		<div class="container-item header">
			<div class="logo"><a href="/"><img src="static/troopLogo.png"></a></div>
    		<div class="navbar">
				<a class="nav-item" href="/">Home</a>
				<a class="nav-item" href="/calendar">What's happening?</a>
				<a class="nav-item" href="/documents">Documents</a>
				<a class="nav-item" href="/links">Useful Links</a>
				<a class="nav-item" href="https://scoutbook.scouting.org/" target = "_blank" rel="noreferrer noopener">Scoutbook</a>
    		</div>
			<nav class="mobile-menu">
				<div class="hamburger-icon">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul class="menu-items">
					<li><a href="/">Home</a></li>
					<li><a href="/calendar">What's happening?</a></li>
					<li><a href="/documents">Documents</a></li>
					<li><a href="/links">Useful Links</a></li>
					<li><a href="https://scoutbook.scouting.org/" target = "_blank" rel="noreferrer noopener">Scoutbook</a></li>
				</ul>
			</nav>
        </div>
		<div class="container-item header-image">
	    	<img src="static/homeImage1.png">
		</div>
		<div class="container-item main">
	    	<b><h1> Another Glen Rock Troop 15 </h1></b>
            <h4><i> Placing Youth on the Path to Success </i></h4>
	    	<div class="main-item main-trio">
	        	<div class="main-trio-item main-left-image">
		    		<img src="static/homeImage2.png">
	        	</div>
	        	<div class="main-trio-item main-about">
		   			<b><h2> Get to Know Us </h2></b> <br>
		    		Troop 15 is a Scout-led Troop, meaning that the Scouts are responsible for developing the calendar, organizing meetings and training and developing other scouts. This important principle provides the ability for Scouts to learn and lead in a safe environment. This can not be accomplished without parent support and involvement. Unlike Cub Scouts, parents are asked to become much less involved with their own child and more within the structure of the troop as a committee member or assistant Scoutmaster. The success of the troop depends on a lot of adult volunteers who work behind the scenes to make it all happen.
	        	</div>
	        	<div class="main-trio-item main-right-image">
		    		<img src="static/homeImage3.png">
	        	</div>
	    	</div>
	    	<div class="main-item footer-image">
				<img src="static/homeImage4.png">
	    	</div>
            <div class="main-item contact-forms">
	        	<div class="contact-forms-item contact-us">
					<div class="contact-us-item contact">
						<h2>Contact Us</h2> <br>
						Community Church <br>
						354 Rock Rd. <br>
						Glen Rock, NJ, 07452 <br><br><br>
						scoutmaster@grtroop15.org <br><br>
					</div>
		    		<div class="contact-us-item map">
						<iframe class="mainMap" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.12583947181703%2C40.96073765097913%2C-74.12363469600679%2C40.961997496349255&amp;layer=mapnik&amp;marker=40.96136757667022%2C-74.1247370839119" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=40.96137&amp;mlon=-74.12474#map=19/40.96137/-74.12474&amp;layers=N">View Larger Map</a></small>
					</div>
				</div>
				<div class="contact-forms-item fill-form">
					<form action="/email_sent" method="post">
                        <input class="fields" autocomplete="off" name="name" placeholder="Name *" type="text" required />
                        <input class="fields" autocomplete="off" name="email" placeholder="Email *" type="text" required />
                        <input class="fields" autocomplete="off" name="phone" placeholder="Phone" type="text" />
                        <input class="fields" autocomplete="off" name="address" placeholder="Address" type="text" />
                        <input class="fields" autocomplete="off" name="subject" placeholder="Subject" type="text" />
                        <textarea autocomplete="off" rows="5" name="message" placeholder="Message..."></textarea>
                        <input class="sendButton" type="submit" value="Send" />
                    </form>
					<div class="responseEmail" id="sent"><p> {{ message }} </p></div>
                </div>
            </div>
	    	<div class="main-item copyright">
				&copy; 2023 by Glen Rock Troop 15
	    	</div>
		</div>
    </div>
{% endblock %}
